.events-container {
    background: linear-gradient(#000000 30%, #320b4f 100%);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    overflow: auto;
    white-space: nowrap;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
}


.events-small-container {
    background-color: #ffffff;
    position: relative;
    margin-top: 60px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
    height: 550px;
}