.user-account-container {
    background: linear-gradient(#000000 30%, #320b4f 100%);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    overflow: auto;
    white-space: nowrap;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;

}



.user-menu {
    background-color: rgb(255, 255, 255);
    width: 400px;
    height: 500px;
    margin-top: 0px;
    margin-left: 10px;
    border-radius: 15px;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: inline-block;
}

.user-menu-item {
    background-color: #ebefef;
    width: 320px;
    height: 50px;
    border-radius: 10px;
    text-align: left;
    padding-left: 10px;
}

.user-menu-item-p {
    font-size: 18px;
    font-weight: 500;
    color: rgb(255, 255, 255);
    padding: 3%;
}

.user-info-container {
    width: 1000px;
    height: 500px;
    border-radius: 15px;
    display: block;

    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 61px;

}

.name {
    color: #ffffff;
    text-align: left;
}

.person-photo {

    width: 400px;
    height: 100%;

}


.photo-info-container {
    display: grid;
    grid-template-columns: repeat(2, auto);

}



.user-container {
    display: block;
}

.user-btns {
    float: right;
    margin-right: 15px;

    display: grid;
    grid-template-columns: 21ch auto;
}